html{
  font-size: 82%; 
  box-sizing: border-box;
}
body{
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0; 
}
button{
  font-size:  1.6rem;
}
.full-width{
  width: 100%;
}
#root{
  height: 100%;
}
.grid-container{
  display: grid;
  grid-template-areas : "header"  "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
.header{
  grid-area:  header;
  display: flex;
  background-color: aqua;
  color: black;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.brand a{
  color: coral;
  font-size: 2.5rem;
  font-weight: bolder;
  text-decoration: none;
}
.header-links a{
color: darkslategrey;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-decoration-style: double;
}
.header-links a:hover{
  color: tomato;
}
.main{
  grid-area: main;
  padding: 2rem;
}
.footer{
  grid-area: footer;
  background-color: #203040;
  color: ghostwhite;
  display: flex;
  justify-content: center;
  align-items: center;
}
a{
  text-decoration: none;
}
a:hover{ 
  color: indianred;
}
/*  Home Screen*/
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.products li{
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem ;
  margin: 1rem;
  height: 50rem;
  border-bottom: .1rem #c0c0c0 solid;

}
.product-image{
  max-width: 25rem;
  max-height: 25rem;
}
/* side bar section*/
.brand button{
  font-size: 3rem;
  padding:  .5rem;
  border: none;
  border-radius: .5rem;
  background-color: cadetblue;
  color: white;
  
}
.sidebar{
  position: fixed;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #f0f0f0;
  height: 100%;
  transition: all 0.5s;
}
.sidebar.open{
  transform: translateX(0);
}
.sidebar-close-button{
  border-radius: 50%;
  border: .2rem #203040 solid;
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: .5rem;
  top: .5rem;
  font-size: 1rem;
font-weight: bold;
padding: .2rem;
padding-top: 0;
}
/*Product deatils*/
.details{
  display:  flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: .75rem;
}
.details-image{
  flex: 2 1 60rem;
}
.details-image img{
  padding:  1rem;

  max-width: 30rem;
    widows: 100%;
}
.details-info{
  flex: .5 1 30rem;
}
.details-action{
  flex: 1 1 20rem;

}
.details-info ul, .details-action ul{
  list-style-type: none;
  padding: 0rem;
} 
.details-info li, .details-action li{
 margin-bottom: .75rem;
} 
.back-to-result{
  padding: .5rem;
}
.details-action{
  border : .1rem #203040 solid;
  border-radius: .5rem;
  background-color: blanchedalmond;
  padding: 1rem;
}
.details-action li:last-child  {
  display : flex;
  flex-direction : column;

}
.button{
padding: .75rem;
border: .1rem #808080 solid;
border-radius: .5rem;
cursor: pointer; 
}
.button:hover{
  border: .1rem #404040 solid;
  background-color: darkgoldenrod;
}
.button.primary{
  background-color: #f0c040;
}
/* CART SECTION*/
/* Cart */

.cart{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}
.cart-list{
  flex: 3 1 60rem;
}
.cart-action{
  flex:1 1 20rem;
  background-color: #f0f0f0; 
  border-radius: .5rem;
  padding: 1rem;
}
.cart-list-container {
  padding: 0;
  list-style-type: none;
  padding: 1rem;

}
.cart-list-container  li{
  display: flex;
  justify-content: space-between;

  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom:.1rem #c0c0c0 solid;
}
.cart-list-container  li img{
  max-width: 10rem;
  max-height: 10rem;
}
.cart-list-container  li:first-child{
display: flex;
justify-content: space-between;
align-items: flex-end;
}
.cart-image{
  flex: 1 1;
}
.cart-name{
  flex: 8 1;
}
.cart-price{
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
} 
/**?\