html{
    font-size: 82%; 
    box-sizing: border-box;
}
body{
    font: 1.6rem helvetica;
    height: 100vh;
    margin: 0; 
}
.grid-container{
    display: grid;
    grid-template-areas : "header" "footer" "main";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
}
.header{
    grid-area:  header;
}
.footer{
    grid-area: footer;
}
.mian