html{
    font-size: 82%; 
    box-sizing: border-box;
}
body{
    font: 1.6rem Helvetica;
    height: 100vh;
    margin: 0; 
}
.grid-container{
    display: grid;
    grid-template-areas : "header"  "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}
.header{
    grid-area:  header;
    display: flex;
    background-color: aqua;
    color: black;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
.brand a{
    color: coral;
    font-size: 2.5rem;
    font-weight: bolder;
    text-decoration: none;
}
.header-links a{
color: darkslategrey;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-decoration-style: double;
}
.header-links a:hover{
    color: tomato;
}
.main{
    grid-area: main;
    padding: 2rem;
}
.footer{
    grid-area: footer;
    background-color: #203040;
    color: ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}
a:hover{ 
    color: indianred;
}
/*  Home Screen*/
.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.products li{
    list-style-type: none;
    padding: 0;
    flex: 0 1 34rem ;
    margin: 1rem;
    height: 50rem;
    border-bottom: .1rem #c0c0c0 solid;

}
.product-image{
    max-width: 25rem;
    max-height: 25rem;
}
/* side bar section*/
.brand button{
    font-size: 3rem;
    padding:  .5rem;
    border: none;
    border-radius: .5rem;
    background-color: cadetblue;
    color: white;
    
}
.sidebar{
    position: fixed;
    transform: translateX(-30rem);
    width: 30rem;
    background-color: #f0f0f0;
    height: 100%;
}
.sidebar.open{
    transform: translateX(0);
}
.
.