html{
    font-size: 82%; 
    box-sizing: border-box;
}
body{
    font: 1.6rem Helvetica;
    height: 100vh;
    margin: 0; 
}
.grid-container{
    display: grid;
    grid-template-areas : "header"  "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}
.header{
    grid-area:  header;
    display: flex;
    background-color: aqua;
    color: black;
    justify-content: space-between;
}
.brand a{
    color: coral;
    font-size: 2.5rem;
    font-weight: bolder;
}
.header-links a{
color: white;
font-family: fantasy;
font-display: ;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
}
